body {
    background-color: rgb(28, 117, 117);
    color: rgb(234, 250, 245);
}
.image-box {
    background-image: url('/tribute/tribute.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 50px auto;
    width: 500px;    
}
#img-caption {
    color: rgb(23, 23, 80);
    text-align: center;

}
#title {
    text-align: center;
}
#text {
    text-align: center;
}
.life-header {
    text-align: center;
    justify-content: center;
}
.contact {
    background-color: rgb(46, 152, 160);
    text-align: center;
    color: rgb(122, 34, 34);
}